<a href="https://colab.research.google.com/github/Touza-Isaac/Web-scraping-with-Python/blob/delete/Recuperation_du_tableau_sur_un_site_avec_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pip install requests

# Importer les bibliothèques

In [ ]:
import urllib
import bs4
import pandas
from urllib import request
import os
import requests

# Etape 1 : se connecter à la page wikipedia et obtenir le code source

In [ ]:
url_ligue_1 = "https://fr.wikipedia.org/wiki/Championnat_de_France_de_football_2019-2020"
request_text = request.urlopen(url_ligue_1).read()
#request_text = requests.get(url_ligue_1)

In [ ]:
request_text

# Etape 2 Formatage du contenu au format html

In [ ]:
page = bs4.BeautifulSoup(request_text,'html.parser')

In [ ]:
print(page)

In [ ]:
# affichage du titre de la page
print(page.find( "title" ))

<title>Championnat de France de football 2019-2020 — Wikipédia</title>

# Etape 3: recuperation de tous les tableaux de la page

In [ ]:
table = page.findAll("table")

In [ ]:
#Affichage des tableaux
table

In [ ]:
len(table)

34

# 1- Identification du tableau des participants

In [ ]:
#1- Trouver le tableau
# on identifie le tableau en question : c'est le premier qui a cette classe "wikitable sortable"
tableau_participants = page.find( 'table' , {'class'  : 'wikitable sortable' })
print(tableau_participants)

# 2 - Récupérer chaque ligne du tableau

In [ ]:
table_body = tableau_participants. find( 'tbody' )
# on recherche toutes les lignes du tableau avec la balise "tr"
rows = table_body.find_all( 'tr' )
# on obtient une liste où chaque élément est une des lignes du tableau
# par exemple la première ligne va correspondre aux entêtes de colonne
print(rows[ 0])

In [ ]:
cols = rows[1] . find_all( 'td' )
print(cols[0])
print(cols[ 0] . text. strip())

In [ ]:
#Généraliser sur toutes les lignes
for row in rows:
 cols = row. find_all( 'td' )
 cols = [ele. text. strip() for ele in cols]
 print(cols)

In [ ]:
dico_participants = dict()
for row in rows:
 cols = row. find_all( 'td' )
 cols = [ele. text. strip() for ele in cols]
 if len(cols) > 0 :
   dico_participants[cols[0]] = cols[1:]

#Affichage
dico_participants

In [ ]:
data_participants = pandas. DataFrame. from_dict(dico_participants,orient='index' )
data_participants. head()

,0,1,2,3,4,5,6,7
Paris Saint-Germain,1974,637,1er,Thomas Tuchel,2018,Parc des Princes,47 929,46
LOSC Lille,2000,120,2e,Christophe Galtier,2017,Stade Pierre-Mauroy,49 712,59
Olympique lyonnais,1989,310,3e,Rudi Garcia,2019,Groupama Stadium,57 206,60
AS Saint-Étienne,2004,100,4e,Claude Puel,2019,Stade Geoffroy-Guichard,41 965,66
Olympique de Marseille,1996,110,5e,André Villas-Boas,2019,Orange Vélodrome,66 226,69

In [ ]:
#Récupérer les entêtes du tableau
for row in rows:
 cols = row. find_all( 'th' )
 #print(cols)
 if len(cols) > 0 :
   cols = [ele. get_text(separator=' ' ). strip() for ele in cols]
   columns_participants = cols

In [ ]:
columns_participants

['Club',
 'Dernière montée',
 'Budget [ 3 ] en M €',
 'Classement 2018-2019',
 'Entraîneur',
 'Depuis',
 'Stade',
 'Capacité en L1 [ 4 ]',
 'Nombre de saisons en L1']

In [ ]:
# finalisation du tableau
data_participants. columns = columns_participants[ 1 :]

In [ ]:
data_participants

,Dernière montée,Budget [ 3 ] en M €,Classement 2018-2019,Entraîneur,Depuis,Stade,Capacité en L1 [ 4 ],Nombre de saisons en L1
Paris Saint-Germain,1974,637,1er,Thomas Tuchel,2018,Parc des Princes,47 929,46
LOSC Lille,2000,120,2e,Christophe Galtier,2017,Stade Pierre-Mauroy,49 712,59
Olympique lyonnais,1989,310,3e,Rudi Garcia,2019,Groupama Stadium,57 206,60
AS Saint-Étienne,2004,100,4e,Claude Puel,2019,Stade Geoffroy-Guichard,41 965,66
Olympique de Marseille,1996,110,5e,André Villas-Boas,2019,Orange Vélodrome,66 226,69
Montpellier HSC,2009,40,6e,Michel Der Zakarian,2017,Stade de la Mosson,22 000,27
OGC Nice,2002,50,7e,Patrick Vieira,2018,Allianz Riviera,35 596,60
Stade de Reims,2018,45,8e,David Guion,2017,Stade Auguste-Delaune,20 546,35
Nîmes Olympique,2018,27,9e,Bernard Blaquart,2015,Stade des Costières,15 788,35
Stade rennais FC,1994,65,10e,Julien Stéphan,2018,Roazhon Park,29 194,62
RC Strasbourg Alsace,2017,43,11e,Thierry Laurey,2016,Stade de la Meinau,26 109,58
FC Nantes,2013,70,12e,Christian Gourcuff,2019,Stade de la Beaujoire - Louis Fonteneau,35 322,51
SCO d’Angers,2015,32,13e,Stéphane Moulin,2011,Stade Raymond-Kopa,14 582,27
Girondins de Bordeaux,1992,70,14e,Paulo Sousa,2019,Matmut Atlantique,42 115,66
Amiens SC,2017,30,15e,Luka Elsner,2019,Stade Crédit Agricole la Licorne,12 999,2
Toulouse FC,2003,35,16e,Denis Zanko,2020,Stadium de Toulouse,33 033,32
AS Monaco,2013,220,17e,Robert Moreno,2019,Stade Louis-II,16 500,60
Dijon FCO,2016,38,18e,Stéphane Jobard,2019,Parc des Sports Gaston-Gérard,15 459,4
FC Metz,2019,40,1er (Ligue 2),Vincent Hognon,2019,Stade Saint-Symphorien,25 865,61
Stade brestois 29,2019,30,2e (Ligue 2),Olivier Dall'Oglio,2019,Stade Francis-Le Blé,14 920,13

In [ ]:
#enregistrement sous excel
file_name = 'Liste_participants.xlsx'
#data_p= pandas.ExcelWriter('participants.xlsx')
data_participants.to_excel(file_name,sheet_name='Equipes')